.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.messageHeader{
  display: flex;
}
.messageImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messageTxt {
  padding: 10px;
  border-radius: 20px;
  background-color: #2e6fc5;
  color: #fff;
  max-width: 300px;
}

.messageFooter {
  font-size: 12px;
  margin-top: 10px;
}

.message.own{
  align-items: flex-end;
}
.message.own .messageTxt{
  background-color: #e8ebf0;
  color: black;
}